{% extends "base.html" %}
{% block head %}
<title>HTML Table with a Header, Footer and Body</title>
    <style>
        table {
            width: 605px;
            border-collapse: collapse;
            position: absolute;

        }
        table, th, td {
            border: 1px solid black;

        }
        th, td {
            padding: 3px;
            text-align: left;
        }
        
    </style>
{% endblock %}
{% block body %}
        <table align="center">
            <thead>
                <tr>
                    <th>Date&Time</th>
                    <th>Req ID</th>
                    
        <th>Username</th>
        <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  {% for item in data %}
                  <ul>
                    <tr>
                    <td>{{item.date_time}}</td>
                   <td>{{item.req_id}}</td>
                    <td>{{item.username}}</td>
        
                <td><a href="/settlment_pkg">completed</a></td>
            </tr>

        
        {% endfor %}

        </ul>
                </tr>
               
        
            </tbody>
            
        </table>
{% endblock body %}
