<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='register.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="{{ url_for('home') }}" method="post">
        <div class="user-details">
          
    
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" >
          </div>
          <div class="input-box">
            <span class="details">Request id</span>
            <input type="text" name="req_id" >
          </div>
          <div class="input-box">
            <span class="details">status</span>
            <input type="text" name="status" >
          </div>
          
        </div>
        <div class="button">
          <input  type="submit" type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
